.button {
    appearance: none;
    border: none;
    height: 36px;
    padding: 5px 16px;
    background-color: rgb(216, 112, 147);
    color: white;
    border-radius: 4px;
    font-family: system-ui;
    font-size: 14px;
    font-weight: bold;
}
.button[aria-pressed='true'] {
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.button[aria-disabled='true'] {
    background-color: rgba(216, 112, 147, 0.6);
    pointer-events: none;
    cursor: disabled;
}
